.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: flex-start;
    width: 50%;
    margin: 0 auto;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 25px;
    &__input {
        width: 99.5%;
        height: 20px;
        margin-bottom: 15px;
    }
    &__text {
        width: 100%;
        margin-bottom: 15px;
    }
    &__submit {
        padding: 2px 10px
    }
}
