.form {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    align-content: center;

    &__name, &__mess {
        margin-right: 15px !important;
        width: 100%;
    }
}