.App {
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    width: 100%;
    height: 75vh;
    position: relative;
    justify-content: flex-start;
  }
  
  .form-field {
    width: 100%;
    margin: 15px 0;
  }
  
  .message-field {
    width: 100%;
    height: 100%;
    overflow: auto;
    padding: 10px 0;
  }
  
  .left-field {
    width: 6%;
    height: 100%;
  }
  
  .right-field {
    width: 94%;
    height: 100%;
  }